@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e2021;
    background-color: #f5f5f5;
    color: #333;
}

.nav-link {
    font-weight: 600;
    /* color: white; */
    color: black;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown>.dropdown-menu {
    /* background-color: black; */
    background-color: white;
    border: none;
    border-radius: 0;
}

.lni-grid-alt {
    font-size: 1.5rem;
}

.custom-card {
overflow: hidden;
transition: transform 0.3s ease;
}

.custom-card:hover {
transform: scale(1.05);
}

.custom-card img {
height: 250px;
object-fit: cover;
filter: brightness(70%);
}

.tracking-wider {
letter-spacing: 2px;
}

.jumbotron-custom {
            background: linear-gradient(rgba(0,0,0,0.6)), url('img2/sepatu_cover.jpg') center/cover;
            height: 80vh;
            color: white;
            display: flex;
            align-items: center;
        }

.product-card {
            transition: transform 0.3s ease, shadow 0.3s ease;
            border: none;
        }

.card-img-top {
            height: 250px;
            object-fit: cover;
            background-color: #f5f5f5;
        }

@media (min-width: 992px) {
    .dropdown>.dropdown-menu {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        display: block;
        transition: all 0.1s ease;
    }
    .dropdown:hover>.dropdown-menu {
        padding: 20px 0;
        visibility: visible;
        display: block;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .dropdown-item:hover {
        /* color: black; */
        color: white;
        /* background-color: white; */
        background-color: black;
    }
}